additionalParameters_mailofrussiaSenderIndex = "Почтовый индекс"
additionalParameters_mailofrussiaSenderRegion = "Регион"
additionalParameters_mailofrussiaSenderAddress = "Адрес плательщика"
additionalParameters_mailofrussiaSenderName = "ФИО плательщика"
additionalParameters_rapidaPhone = "Номер телефона"
additionalParameters_qiwiUser = "QIWI логин"
additionalParameters_qiwiComment = "Комментарий"
additionalParameters_ownerLogin = "E-Mail для уведомлений"
