monetasdk_storage_type = "files"
monetasdk_storage_files_path = ""
monetasdk_storage_mysql_host = "localhost"
monetasdk_storage_mysql_username = ""
monetasdk_storage_mysql_password = ""
monetasdk_storage_mysql_port = ""
monetasdk_storage_mysql_database = ""
